

<div class="common_content">
        <h1>{{artistName}}</h1>
        <h2>{{loaction}}</h2>
        <h2>{{artistNumber}}</h2>
        <h2>{{indepndent}}</h2>
        <h2>{{shopName}}</h2>
        <h2>{{hourlyRate}}</h2>
        <h2>{{artistMin}}</h2>
        <h2>{{stylePref}}</h2>
        <h2>{{artistInsta}}</h2>
        <h2>{{shopLink}}</h2>
        <h2>{{loaction}}</h2>

        <br><br>
        <p>{{artistBio}}</p>
        <br><br>

        <br><br>
        <p>{{artistComments}}</p>
        <br><br>
</div><br><br> 

