
<div class="left_side_bar"> 
      <div class="col_1">
        <div class="box">
          <h1 id="subhead" class="lobster">About Me:</h1>
          <ul>
            <li>Location: {{artist.location}}</li>
            <li>Shop/Independant Artist: {{artist.independent}}</a></li>
            <li>Hourly Rate: {{artist.hourlyRate}}</li>
            <li>Minimum: {{artist.artistMin}}</li>
            <li>Preffered Style: {{artist.stylePref}}</li>
            <hr>
            <li><a href="{{artist.artistInsta}}">View Instagram</a></li>
            <li><a href="{{artist.shopLink}}">Shop Website</a></li><br>
          </ul>
        </div>
      </div>

</div>



<!-- Artist Name -->
<div class="right_section">

    <div class="common_content">

            <h1>{{{artist.artistName}}}</h1>

            <h1>Bio: </h1>
            <h2>{{{artist.artistBio}}}</h2>

            <h1>Additional Comments: </h1>
            <h2>{{{artist.artistComments}}}</h2>
    </div>

    <br><br> 

</div>